@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestBlack1602-hint.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestExtraBold1602-hint.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestBold1602-hint.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestMedium1602-hint.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestRegular1602-hint.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestLight1602-hint.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestThin1602-hint.ttf');
  font-weight: 100;
}
