@import 'fonts';

:root {
  --black: #202020;
  --white: #eee;
  --gray: #444;
  --lightgray: #666;
  --red: #b33;
  --yellow: #cb3;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Onest';
}
.setup {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__block {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  label[for='path'] {
    padding: 0px 7px;
    border: 1px solid var(--lightgray);
    border-radius: 5px;
    cursor: pointer;
  }

  input[type='file'] {
    display: none;
  }

  select {
    padding: 3px 0px;
    background-color: var(--black);
    border: 1px solid var(--lightgray);
    border-radius: 5px;
    color: var(--white);

    &:focus {
      outline: 1px solid var(--green);
    }
  }
}

.checklist {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__group {
    padding: 5px;
    border: 3px solid var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-name {
      font-weight: bold;
      margin-left: 10px;
      margin-bottom: -13px;
      padding: 2px 10px;
      width: fit-content;
      border: 3px solid var(--gray);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &__item {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    &-dropdown {
      padding: 0px 10px;
      background-color: var(--gray);
      border-radius: 99px;
      cursor: pointer;

      &_opened {
        background-color: var(--lightgray);
      }
    }
  }

  &__spoiler {
    margin-left: 20px;
    height: 0px;
    border: 0px solid var(--gray);
    border-radius: 10px;
    overflow: hidden;

    li {
      color: var(--red);
      .line {
        color: var(--yellow);
      }
      .file {
        color: var(--white);
      }
    }

    &_shown {
      height: auto;
      border: 1px solid var(--gray);
    }
  }
}
